body {
    margin: 0;
    padding: 0;
}


nav ul {
    height: 60px;
    width: 100vw;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: fixed;
    top: 0px;
    left: 0px;
    
}
nav ul li {
    color: white;
    list-style-type: none;
    width: 100px;
}

nav ul li:hover {
    cursor: pointer;
    background-color: aquamarine;
}

footer {
    height: 200px;
    width: 100vw;
    background-color: grey;
    color: black;
}

footer ul  {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}