 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 }

 .save:hover {
  color: black;
  background-color: white;
  border: 1.5px solid black;
}


